/*  Mobile (max-width: 600px) */
@media (max-width: 600px) {
  body {
    max-width: 100%;
    padding: 0 15px;
    text-align: center;
  }
  section{
    margin-top: 36px;
  }
  h2 {
    font-size: 35px;
    text-transform: capitalize;
  }
  h3 {
    font-size: 18px;
  }
  .btn {
    width: 320px;
  }
  nav {
    align-items: center;
  }

  .nav-links {
    position: absolute;
    top: 70px;
    left: -100%;
    width: 100%;
    gap: 10px;
    width: 100%;
    transition: left 0.3s ease;
  }
  .nav-links.active {
    left: 5%;
    display: flex;
    font-size: 14px;
  }
  .toggle-btn {
    display: block;
  }

  /* hero section  */
  .hero {
    flex-direction: column;
    padding: 20px;
    justify-content: center;
    gap: 30px;
    margin: auto;
    overflow: hidden;
  }
  .hero h2{
    font-size: 51px;
  }
  .quality{
    position: absolute;
    height: 53px;
    right: 8%;
    top: 85%;
    font-size: 14px;
  }
  .quality h3{
    font-size: 14px;
  }
  .hero_left_site {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .hero_left_site p {
    width: 316px;
  }
  .des {
    font-size: 14px;
  }
  .title {
    font-size: 51px;
    padding: 0;
  }
  .rating {
    height: 53px;
    left: 25%;
    top:75%;
    transform: translateY(-50%);
    font-size: 12px;
  }
  .hero_right_side {
    padding-right: 0;
    margin-bottom: 0;
  }
  .brand{
    margin-top: 20px;
  }

  .baner_img {
    width: 100%;
    height: auto;
  }

  .brand {
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    padding: 20px;
  }

  #service {
    grid-template-columns: repeat(2  ,1fr);
  }
  #service div{
    display:flex;
    flex-direction: column;
   
  }
  #service span{
    font-size: 14px;
     color: #1d1d1f;
  }
  
  

  #benefit {
    flex-direction: column;
    text-align: center;
    margin-top: 100px;
  }

  #benefit img {
    width: 90%;
    height: auto;
    margin: 0 auto;
    margin-bottom: 20px;
  }
.be_right{
  margin-top: 50px;
}
.be_right h2{
  font-size: 35px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.be_right ul{
  display: flex;
  flex-direction: column;
  align-items: start;
}
  #stars {
    flex-direction: column-reverse;
    align-items: center;
    margin-top: 100px;
  }
  #stars img {
   width: 277px;
   height: 489px;
  margin: 0px 20px;
  margin-top: -50px;
  }
/* .start_left{
  margin-top: 50px;
} */
.start_left h6{
  margin-bottom: 20px;
}
.stares_detals{
  display: flex;
  flex-direction: column;
}
.stares_detals div{
 margin: 20px 0;
}
#features{
  margin-top: 100px;
  text-align: center;
  padding: 0 auto;
  margin: 0 auto;
}
#features h6{
  margin-bottom: -30px;
  padding: 0;
}
.content{
  background-color: #f0f1ec;
  margin: auto;
  height: 292px;
}
.content h2{
  margin: auto;
}
.content button{
  background-color: #f0ede2;
  margin: auto;
}

  .container {
    grid-template-columns: repeat(1, 1fr);
  }
 
  
  .container .content:nth-child(4) { order: 4; } 
  .container .content:nth-child(5) { order: 6; } 
  .container .content:nth-child(6) { order: 5; }
  .container .content:nth-child(7) { order: 8; }
  .container .content:nth-child(8) { order: 7; } 
  
  
  .products {
    flex-direction: column;
  }
  .Product_content {
    margin: 10px 0;
  }
  .footer_content {
    flex-direction: column;
    gap: 30px;
    text-align: center;
    align-items: center;
  }
  .company_detals h4{
    margin: 50px auto;
  }
  .subscribe{
    width: 316px;
    text-align: center;
  }
  .subscribe div{
    width: 316px;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .subscribe input{
    padding: 10px;
    text-align: center;
  }
  .subscribe button{
    padding: 10px;
    text-align: center;
  }
  .copyright_text{
    margin-top: 100px;
  }
  .company_detals i{
    margin: 30px 10px;
  }
}


/*  Tablet (601px - 992px) */ 

/*  Tab design uncompleted !!  */
@media (min-width: 601px) and (max-width: 992px) {
  nav {
    padding: 15px 40px;
  }

  .hero {
    flex-direction: column;
    padding: 30px;
    gap: 40px;
  }

  .baner_img {
    width: 80%;
    height: auto;
  }
  #service{
    grid-template-columns: repeat(2,1fr);
  }
  #benefit {
    flex-direction: column;
  }

  #stars {
    flex-direction: column;
    align-items: center;
  }

  .container {
    grid-template-columns: repeat(2, 1fr);
  }

  .products {
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }

  .footer_content {
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
  }
}
