/* Reset some default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* body staty  */
body {
  font-weight: 400;
  max-width: 1200px;
  margin: auto;
}
section {
  margin-top: 150px;
}
.title {
  font-weight: 600;
  font-size: 75px;
}
a {
  text-decoration: none;
  color: black;
  text-transform: capitalize;
}
.btn {
  width: 200px;
  height: 65px;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  background-color: #06c167;
  border: none;
  color: white;
  cursor: pointer;
  text-transform: capitalize;
}
ul {
  list-style: none;
}
h2 {
  font-weight: 500;
  font-size: 60px;
}
h6 {
  font-weight: 500;
  font-size: 15px;
}
h3 {
  text-transform: capitalize;
  font-size: 18px;
}
.logo {
  width: 120px;
  font-size: 24px;
  letter-spacing: 2px;
  color: #06c167;
  text-transform: capitalize;
}

/* Navbar container */
nav {
  background: #f3fcf7;
  padding: 0 60px;
  text-transform: capitalize;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
  padding: 15px 50px;
  font-family: Arial, Helvetica, sans-serif;
}

/* Menu list */
.nav-links {
  display: flex;
  list-style: none;
  gap: 25px;
}
.toggle-btn {
  display: none;
  font-size: 21.9px;
  cursor: pointer;
}
/* Menu links */
nav ul li a {
  list-style: none;
  font-weight: 500;
  transition: color 0.3s, border-bottom 0.3s;
  color: black;
}

/* Hover effect */
nav ul li a:hover {
  color: #06c167;
  padding-bottom: 3px;
}

/* end nav  */

/* start hero section  */

/* left side  */
.hero {
  padding: 0 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
  background: #f3fcf7;
}
.hero_left_site {
  height: 50%;
  background: #f3fcf7;
}
.hero_right_side {
  text-transform: capitalize;
  position: relative;
  display: flex;
  padding-right: 100px;
  margin-bottom: -100px;
}
.des {
  font-weight: 400;
  font-size: 16px;
  width: 533px;
  margin: 25px 0;
}
.baner_img_container {
  border-radius: 0 0 30px 30px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 10px 10px 0px 60px;
}
.baner_img {
  width: 468px;
  height: 634px;
  clip-path: polygon(0% 0%, 100% 0%, 100% 85%, 100% 88%, 0% 96%);
  border-radius: 20px;
}
.brand {
  display: flex;
  gap: 20px;
  margin-top: 100px;
  background: white;
  padding: 0 60px;
}
.brand img {
  color: #394149;
  width: 155.19px;
  cursor: pointer;
  height: 35.84px;
}
.rating {
  position: absolute;
  left: -90px;
  top: 50%;
  transform: translateY(-50%);
  background: #fff;
  padding: 10px 18px;
  border-radius: 50px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  gap: 8px;
  z-index: 5;
}

.rating span {
  font-weight: 600;
}
.quality {
  position: absolute;
  right: 30px;
  top: 30%;
  width: 230px;
  height: 53px;
  background-color: #fff;
  color: #222;
  padding: 10px 20px;
  border-radius: 30px;
  font-size: 15px;
  font-weight: 600;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  gap: 10px;
}
.quality img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
/*  Polkadot (bottom right) */
/* .polkadot {
  position: absolute;
  right: 30px;
  bottom: -30px;
  width: 120px;
  opacity: 0.3;
} */
/* end hero section  */

/* service  style */

#service {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
#service div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

#service span {
  display: block;
  font-size: 14px;
}
#service i {
  color: #06c167;
  font-size: 30px;
  background: #f3fcf7;
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

/* benefit style  */
#benefit {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.be_left {
  background-color: #f3fafb;
}
#benefit img {
  width: 445px;
  height: 513px;
  margin: 0 50px;
  margin-bottom: 70px;
}

#benefit i {
  color: #06c167;
  margin-right: 20px;
  font-size: 26px;
}

#benefit li {
  font-weight: 400;
  font-size: 16px;
  line-height: 35px;
}

/* store style  */
#stars {
  display: flex;
  justify-content: space-around;
}

.stars_img {
  width: 445px;
  height: 513px;
  margin-left: 50px;
  margin-bottom: 70px;
}
.stares_detals {
  display: flex;
  margin-top: 50px;
  margin-bottom: 50px;
  justify-content: space-between;
}
.stares_detals h3 {
  font-weight: 600;
  font-size: 40px;
  color: #06c167;
}
.stares_detals h4 {
  font-weight: 400;
  font-size: 15px;
  color: #1d1d1f;
  margin-top: 10px;
}

.fe_title h2 {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
.fe_title {
  text-align: center;
}
.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  overflow: hidden;
  padding: 15px;
  margin: auto;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 300px;
  width: 292.5px;
  height: 292.5px;
  overflow: hidden;
  margin: 0px;
  padding: 0px;
}
.content button {
  margin-top: 10px;
  background-color: #e6f9f0;
  width: 148px;
  height: 42px;
  color: #06c167;
  font-size: 15px;
  font-weight: 500;
}
.content h2 {
  font-size: 32px;
}
.content p {
  font-size: 16px;
  line-height: 50px;
}

/* product style  */
.products {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-top: 50px;
}
.products i {
  color: #06c167;
}
.Product_content {
  padding: 30px;
  border: 2px solid #76767540;
}
.Product_content p {
  font-size: 20px;
  text-transform: capitalize;
  margin: 15px 0px;
}
.Product_content button {
  text-transform: capitalize;
  background: white;
  color: #06c167;
  border: 2px solid #06c167;
  margin-top: 10px;
  font-size: 16px;
  width: 177px;
  height: 57px;
}
.product_price {
  color: #767675;
}
.product_price span {
  color: #06c167;
  margin-left: 10px;
}
.products img {
  width: 190px;
  height: 190px;
  border-radius: 100%;
}
#try_product {
  background-image:linear-gradient(rgba(2,2,2,0.5), rgba(2,2,2,0.5)) , 
    url('/images/try_bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 459px;
  color: white;
  text-align: center;
  margin: auto;
  margin-top: 150px;
}
#try_product button {
  text-align: center;
  margin: auto;
  margin-top: 30px;
}

/* footer  */
.footer_content {
  margin-top: 150px;
  display: flex;
  justify-content: space-between;
}
footer li {
  line-height: 30px;
}

.company_detals {
  width: 284px;
}
.company_detals h4 {
  margin-bottom: 50px;
}
.company_detals i {
  margin: 30px 30px;
  cursor: pointer;
}
.footer_title {
  font-size: 24px;
  text-transform: capitalize;
  margin-bottom: 20px;
}

.subscribe {
  width: 338px;
}
.subscribe input {
  background: #f0f1ec;
  border: none;
  outline: none;
  border: none;

  padding-left: 15px;
}
.subscribe button {
  height: 50px;
}
.subscribe div {
  margin-top: 20px;
  display: flex;
  gap: 10px;
  height: 50px;
}

.copyright_text {
  text-align: center;
  margin-bottom: 50px;
  text-transform: capitalize;
}
